body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  display: flex;
  flex-direction: row;
}
.showCompleted {
  margin-left: auto;
}
.content {
  min-height: calc(100vh - 146px);
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  // user-select: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 72px;
  margin-bottom: 24px;
  text-size-adjust: none;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  input {
    padding: 0;
    border: 0;
    display: flex;
    outline: none;
    font-size: 16px;
  }
  li {
    list-style: none;
  }
}
.bullet-container {
  min-height: 30px;
  color: rgb(42, 49, 53);
  input {
    color: rgb(42, 49, 53);
  }

  &.completed {
    color: #a8aeb1;
    input {
      color: #a8aeb1;
    }
    text-decoration: line-through;
  }
}
.bullet__content {
  display: grid;
  align-items: center;
  grid-template-rows: 30px 1fr;
  grid-template-columns: 20px 1fr;
  justify-content: flex-start;
}
.bullet__title {
  white-space: pre-wrap;
  line-height: 24px;
  padding-top: 4px;
  overflow-wrap: break-word;
  position: relative;
  user-select: text;
  margin-inline-start: 15px;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
}

.bullet__bullet {
  background-color: black;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  justify-self: center;
  &:hover {
    border: 4px solid grey;
  }
}
.bullet__children {
  grid-column: span 2 / auto;
}

// mixins

@mixin i($property, $value, $ltr, $rtl) {
  [style*="direction: ltr"] & {
    #{$property}-#{$ltr}: $value;
  }

  [style*="direction: rtl"] & {
    #{$property}-#{$rtl}: $value;
  }
}
